<h4><a href=<%= user_path(@status.user_id) %>><%= User.find(@status.user_id).first_name %></a>: <%= @status.content %></h4>
<div class="likes"><%= @status.likers(User).count %> likes</div>
<div class="like_status_button">
<%= form_tag("/like_item/#{@status.id}", method: "post") do %>
<% if @status.liked_by?(current_user) %>
<%= submit_tag("UNLIKE IT") %>
<% else %>
<%= submit_tag("LIKE IT") %>
<% end %>
<% end %>
</div>
<ul>
  <% @status.comments.each do |comment| %>
  <div class="comments">
    <li><%= link_to User.find(comment.user_id).first_name, user_path(User.find(comment.user_id)) %> <%= comment.content %>
      <div class="likes">
        <%= comment.likers(User).count %> likes
      </div>
      <div class="like_comment_button">
      <%= form_tag("/like_item/#{comment.id}", method: "post") do %>
      <% if comment.liked_by?(current_user) %>
      <%= submit_tag("UNLIKE IT") %>
      <% else %>
      <%= submit_tag("LIKE IT") %>
      <% end %>
      </div>
    </li>
  </div>
  <% end %>

  <% end %>
</ul>
<% @status%>
<%= form_tag("/add_comment/#{@status.wall_owner_id}/#{@status.id}", method: "post") do %>
<%= label_tag(:comment, "Comment:") %>
<%= text_field_tag(:comment) %>
<%= submit_tag("comment") %>
<% if @comment %>
<% if @comment.errors.any? %>
<div class="errorExplanation">
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
    <li><%=msg%></li>
    <% end %>
  </div>
  <% end %>
  <% end %>
  <% end %>

