<!DOCTYPE html>
<html>
<head>
  <title>BootBook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" %>
  <header>
    <nav id="navigation">
        <%= link_to image_tag('bootbook.png'), root_path %>
        <% if current_user %>
        <%= link_to "Log out", logout_path, style:"float:right;" %>
        <% end %>
    </div>
  </header>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
